<form action="/tasks/add" method="POST">
    <div>
        <label for="title">Write a title</label>
        <input type="text" name="title" placeholder="Escribe Tu Tarea" id="title">
    </div>
    <div>
        <label for="description">Write a description</label>
        <textarea name="description" cols="30" rows="10" placeholder="Escribe Tu Descripcion"
            id="description"></textarea>
    </div>
    <button>Add</button>
</form>
